.container
{
	width: 600px;
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

div.logo,div.phone
{
	border: 3px #ddd solid;
}

.logo
{
	display: inline-block;
	background-color: #333;
	width: 60%;
	padding: 10px;
	text-align: center;
	color: #ffffff;
}
.phone
{
	display: inline-block;
	background-color: #333;
	width: 30%;
	padding: 10px;
	text-align: center;
	color: #ffffff;
}

.about
{
	vertical-align: top;
	margin: 30px 0;
	border: 3px #ddd solid;
	padding: 20px 10px;
	display: inline-block;
	width: 60%;
}
.list
{
	margin: 30px 0;
	border: 3px #ddd solid;
	display: inline-block;
	width: 30%;
	padding-right: 20px;
}

footer
{
	border: 3px #ddd solid;
	padding: 20px 10px;
	background-color: #333;
	color: #ffffff;
}